.CharactersList {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  gap: 1.5rem;

  padding-bottom: 2rem;
  width: 90vw;
}
.CharactersList__FilterBar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  box-shadow: rgb(50 50 93 / 25%) 0px 13px 27px -5px, rgb(0 0 0 / 30%) 0px 8px 16px -8px;
  background-color: var(--senary-color);
  border-radius: 6px;
  padding: 0.5rem;

  transition: width 500ms ease-in-out;
}

.CharactersList__FilterBar .ListItemsCount {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  height: 55px;
  justify-content: right;
  padding: 0 1rem;
}

.CharactersList__FilterBar.FilterBarSticky .ListItemsCount {
  padding-left: 9rem;
  height: 75px;
  align-items: center;
  width: 100vw;
  display: flex;
  justify-content: center;

  border-bottom: 1px solid;
  border-color: whitesmoke;
}
.CharactersList__FilterBar .ListFilterOptions {
  display: flex;
  flex-direction: column;
  padding: 0 1rem 1rem 1rem;
}
.CharactersList__FilterBar .ListFilterOptions > * {
  width: auto;
}

.CharactersList__FilterBar.FilterBarSticky .ListFilterOptions {
  padding: 0.75rem 1.25rem;
}

.CharactersList__FilterBar .form-control {
  padding: 0.5rem;
  /* border: 1px solid #00609d; */
  border: 1px solid #56a2e5;
  border-radius: 10px;
  margin: 0.25rem;

  font-family: "Creepster", cursive;
  font-size: 1.1rem;
  letter-spacing: 2px;
  width: auto;
  font-weight: normal;
}

.CharactersList__FilterBar.FilterBarSticky {
  position: absolute;
  top: 88px;
  left: 0;
  width: 100vw;
  z-index: 1;
  border-radius: 0;
  /* padding-left: 10rem; */
  flex-direction: column;
  padding: 0;
}

.CharactersList__FilterBar.FilterBarSticky + .CharactersList__Items {
  margin-top: 2rem;
}

.CharactersList__Items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  align-items: stretch;
  /* padding: 1rem 0; */
  gap: 1.5rem;
}

.CharactersList__LoadMoreButton {
  font-size: 1.5rem;
  font-family: "Creepster", cursive;
  letter-spacing: 3px;
}

@media all and (min-width: 400px) {
  .CharactersList__FilterBar .ListItemsCount {
    font-size: 1.5rem;
  }
}
@media all and (min-width: 576px) {
  .CharactersList__FilterBar .ListFilterOptions {
    flex-direction: row;
    justify-content: space-between;
    justify-content: center;
  }

  .CharactersList__FilterBar .ListFilterOptions > * {
    width: 100%;
  }

  .CharactersList__FilterBar .ListItemsCount {
    font-size: 2rem;
  }

  .CharactersList__FilterBar .form-control {
    /* width: 10rem; */
  }
}

@media all and (min-width: 768px) {
  .CharactersList__FilterBar .ListItemsCount {
    justify-content: center;
  }
}
