*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;

  font-family: "Creepster", cursive;
  letter-spacing: 3px;
  /* to prevent scrolling of the body - we just want scrolling in the main container  */
  height: 100%;
  overflow: hidden;
  color: var(--page-font-color);
}

p {
  padding: 1em;
}

:root {
  /* CSS HEX */
  --primary-color: #57a2e5; /* header */
  --secondary-color: #dae8e6; /* main */
  --tertiary-color: #3b857e; /* footer */
  --quaternary-color: #00609d; /* main font color */
  --quinary-color: #00c4f1; /* hover bg nav item */
  --senary-color: #9dc6e0;

  /* quaternary, quinary, senary, septenary, octonary, nonary */

  --header-height-mobile: 75px;

  --page-bg-color: var(--secondary-color);
  --page-font-color: var(--quaternary-color);
  --hover-font-color: #eee;

  /* HEADER */
  --header-bg-color: var(--primary-color);
  --header-font-color: var(--page-font-color);
  --header-border-bottom-color: var(--secondary-color);

  /* MAIN */
  --main-bg-color: var(--secondary-color);
  --main-font-color: var(--page-font-color);

  /* FOOTER*/
  --footer-bg-color: var(--tertiary-color);
  --footer-font-color: var(--hover-font-color);

  /* MAIN NAV */
  --nav-item-link-color: var(--page-font-color);
  --nav-item-hover-bg-color: var(--quinary-color);
  --nav-item-hover-border-color: #6b8fdb;
  --nav-item-hover-font-color: var(--hover-font-color);

  --nav-toggle-hover-font-color: aqua;
  --nav-toggle-hover-bg-color: #2e609d;

  --mobile-nav-item-hover-bg-color: #00609d;
  --mobile-nav-item-hover-font-color: aqua;
}
