header .BrandLogo {
  /* margin-right: auto; */
  width: 125px;
  height: 125px;

  border: 3px solid #3dc5f1;
  /* border: 3px solid #fff; */
  /* border: 3px solid #dae8e6; */
  border: 2px solid aquamarine;
  border-radius: 100%;
  background: #3dc5f1;
  /* background: aquamarine; */
  /* padding: 2px; */

  position: absolute;
  top: 15px;
  left: 20px;
  /* right: 39px; */
  z-index: 30;

  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
}

.App__nav {
  display: flex;
  justify-content: space-around;

  /* flex: auto; */
}

.App__nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  gap: 0.5rem;

  font-family: "Creepster", cursive;
}

.App__nav ul li {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;
  /* transition: all 0.3s;
  border: 1px solid transparent; */
}

.App__nav ul li a {
  transition: all 0.3s;
  border: 1px solid transparent;
  border-radius: 10px;
}

.App__nav ul li a.active,
.App__nav ul li a:hover {
  background-color: var(--nav-item-hover-bg-color);
  color: var(--nav-item-hover-font-color);
  border-radius: 10px;
  border: 1px solid var(--nav-item-hover-border-color);
}

.App__nav ul li a {
  padding: 0.5rem;
  flex: auto;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: var(--nav-item-link-color);
  align-items: center;
  /* justify-content: flex-start; */
  justify-content: center;
  font-size: 2.5rem;
  /* padding: 1rem; */
}

.App__nav ul li a.active,
.App__nav ul li a:hover {
  color: var(--nav-item-hover-font-color);
}
