.tag {
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 0.375em;
  color: #4a4a4a;
  display: inline-flex;
  font-size: 0.75rem;
  height: 2em;
  justify-content: center;
  line-height: 1.5;
  padding-left: 0.75em;
  padding-right: 0.75em;
  white-space: nowrap;

  font-size: 1rem;
}

.tag.blue {
  background-color: #3e8ed0;
  color: #fff;
}

.tag.dark-blue {
  background-color: #485fc7;
  color: #fff;
}

.tag.green {
  background-color: #00d1b2;
  color: #fff;
}

.tag.red {
  background-color: #f14668;
  color: #fff;
}

.tag.yellow {
  background-color: #d1d100;
  color: #fff;
}

.tag.medium {
  font-size: 1.25rem;
}
.tag.large {
  font-size: 1.75rem;
}
.tag.xl {
  font-size: 2rem;
}
.tag.wow {
  font-size: 3rem;
}

.tag-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
}

.tag-list .tag {
  margin: 2%;
}
